body {
	background-color: #AEA4BF;
	color: #3B252C;
	font-family: sans-serif;
	text-align: center;
}

.banner {
	display: block;
	height: 100px;
	font-size: 5em;
	color: #665388;
	font-family: Comic Sans MS, arial;
}

.nav {
	width: 75%;
	max-width: 650px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
}

.new-tweet-area{
	display: flex;
	width: 75%;
	max-width: 650px;
	margin: 0 auto;
/*	height: 75px;*/
}

button {
	background-color: #D5D0DD;
	border: 1px solid #AEA4BF;
	padding: 15px 45px;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.8;
	color: #665388;
}
.post-tweet {
	padding: 15px 20px;
	width: 25%;
}

.textbox {
	width: 75%;
	resize: none;
}


.homeButton{
	padding: 5px 10px;
}

ion-icon {
	font-size: 200%;
}

.load{
	width: 100%;
}

#tweetStream {
	text-align: left;
	display: flex;
	flex-direction: column;
	background-color: #D5D0DD;
	width: 75%;
	max-width: 650px;
	margin: 0 auto;
}

.tweet {
	border: 1px solid #AEA4BF;
	padding: 5px 45px;
}

.tweetDate {
	font-size: 70%;
	opacity: 0.8;
}
