body {
	background-color: #AEA4BF;
	color: #3B252C;
	font-family: sans-serif;
	text-align: center;
}

.banner {
	display: block;
	font-size: 7em;
	color: #665388;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	margin: 0 auto;
	width: 70%;
	max-width: 950px;
}

#user-profile {
	width: 25%;
	max-width: 200px;
	border: 1px solid #AEA4BF;
	margin-right: 2%;
	position: fixed;
	/*top: -45px;*/
	left: 50%;
  top: 10%;
  transform: translate(-285%, 0%);
}

.big-avi {
	background-color: #D5D0DD;
	border-radius: 50%;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.user-info{
	padding-top: 17%;
	padding-bottom: 5%;
	position: relative;
	top: -35px;
	background-color: #F4F3F5;
	z-index: -1;
}


#main-column {
	width: 75%;
}

.nav {
	width: 100%;
	
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
}

.new-tweet-area{
	display: flex;
	width: 100%;
	/*max-width: 650px;*/
	margin: 0 auto;
	height: 75px;
}

button {
	background-color: #F4F3F5;
	border: 1px solid #AEA4BF;
	padding: 15px 45px;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.8;
	color: #665388;
}
.post-tweet {
	padding: 15px 20px;
	width: 25%;
}

.textbox {
	width: 75%;
	resize: none;
}


.homeButton{
	padding: 5px 10px;
}

ion-icon {
	font-size: 200%;
}

.load{
	width: 100%;
}


#tweetStream {
	text-align: left;
	display: flex;
	flex-direction: column;
	background-color: #F4F3F5;
	width: 100%;
	/*max-width: 650px;*/
	margin: 0 auto;
}

.tweet-card {
	border: 1px solid #AEA4BF;
	display: flex;
	justify-content: flex-start;
	padding: 5px 25px;
}

.avatar {
	height: 85px;
	width: 85px;
	margin: auto 1px;
	background-color: #D5D0DD;
	border-radius: 50%;
}

.tweet {
	margin-left: 25px;
}

.tweetDate {
	font-size: 70%;
	opacity: 0.8;
}

.handle:hover {
	cursor: pointer;
}
